name: Deploy Flask to ECS Fargate

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1   # <--- vigtigt! ECR er i us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/bingohans/flask-ecs-fargate:$IMAGE_TAG .
          docker build -t $ECR_REGISTRY/bingohans/flask-ecs-fargate:latest .
          docker push $ECR_REGISTRY/bingohans/flask-ecs-fargate:$IMAGE_TAG
          docker push $ECR_REGISTRY/bingohans/flask-ecs-fargate:latest

      - name: Force new deployment on ECS (eu-central-1)
        run: |
          aws ecs update-service \
            --cluster bingohans-ecs-fargate \
            --service flask-service \
            --force-new-deployment \
            --region eu-central-1
